<html>
<head>
	<meta charset="utf-8">
	<title>
		Trabalhando com Layout de páginas
	</title>
</head>
<body>
	<center>
		<table border="1" width="90%">
		<tr>
			<td colspan="3" height="100px"><img src="logo.jpg" height="100px"></td>
		</tr>	
		<tr>
			<td width="20%">
			<ul>
				<li>Home</li>
				<li>Quem Somos</li>			
				<li>Missão</li>
				<li>Valores</li>
				<li>Contatos</li>
			</ul>
			</td>
			<td width="60%">1</td>
			<td width="20%"  align="center"><b>PARCEIROS</b>
				<img src="cocacola1.jpg" width="100px" height="100px" alt="">
				<br><br>		
				<img src="cafe.jpg" width="100px" height="100px" alt="">			
			</td>
		</tr>	
		<tr>
			<td colspan="3" height="100px" align="center">
				<p>Desenvolvido por: Rafael</p>
				<p>Colégio Antônio Francisco Lisboa</p>
			</td>
		</tr>	
		</table>
	</center>
</body>
</html>