body{
	margin: 0;
}
.topo
{
	width: 100%;
	margin:0;
	height: 100px;
	background-color: #006400;
	color: white;
}
a{
	color: black;
	font-size: 15px;
	text-decoration: none;
}
.menu
{
	width: 152px;
	background-color: #DEB887;
	float: left;
}
ul{
	list-style: none;
	margin: 0;	
 	padding: 0px;	
}
li{
	border: 1px solid #D2B48C;
	width:145px;
	height:25px;
	padding-top:5px; 
	padding-left:5px; 
}
li:hover{
	background-color: #D2691E;
	border-left: 3px solid red;
}
.conteudo
{
	width: 83%;	
	float: left;
	margin: 0px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 5px;
	border:1px solid silver;		
}
.rodape
{
	width: 100%;
	height: 80px;
	background-color: #006400;
	margin: 0;
	padding-top: 20px;
	float: left;		
}
.caixaFormulario{
	width: 600px;
}
label{
	width: 300px;
	/*float: left;*/
	display: block;	
	font-weight: bold;/*negrito*/
	margin-top: 15px;
}
input{
	width: 100%;	
	height: 40px;	
	font-size: 15px;
	margin-top: 5px;
}
input[type=text]{
	border: 1px solid silver;
	color: black;			
}
textarea{
	width: 500px;
	height: 140px;
	font-size: 15px;
	margin-top: 5px;
	border: 1px solid silver;
}
/* Quando o campo receber foco...*/
input:focus{
    background: #ffc;
}
textarea:focus {
    background: #ffc;
}
/*formatando tipos de caixas*/
input[type=submit]{
	background-color: #66ff88;
}
input[type=reset]{
	background-color: #66ff88;
}
input[type=number]{
	width: 60px;
}
input[type=radio]{
	width: 10px;
	height: 15px;
}